# Exclude .env files
.env
*.env

# Ignore directories that may contain environment files
.env/

# Exclude .yml files
.yml
*.yml

# Ignore directories that may contain environment files
.yml/

# General Go exclusions
/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories and files
/vendor/
/*.lock
/go.sum

# Compiled files
*.out
*.log

# Editor and IDE files
*.swp
*.swo
.vscode/
.idea/
